body {
  margin: 0;
  padding: 0;
  background: linear-gradient(111deg, #46546c 50%, #7187ad 50%);
  font-family: "Spartan", sans-serif;
}

#icon {
  color: #46546c;
  font-weight: 700;
  max-height: 100%;
}

.nav-link {
  text-align: center;
}

.row {
  margin-top: 20vh;
  color: white;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
  line-height: 60px;
}

#name {
  font-weight: bold;
}

h4,
h5 {
  line-height: 40px;
}

h4 {
  font-size: 30px;
  margin-bottom: 40px;
}

h5 {
  font-size: 25px;
  margin-bottom: 30px;
}

.buttonDiv {
  width: 100%;
  text-align: center;
}

button {
  color: white;
  background-color: #5087e6;
  height: 50px;
  border: none;
  border-radius: 15px;
  border: 2px #223961 solid;
  margin: 5px;
}
