body {
  margin: 0;
  padding: 0;
  background: linear-gradient(111deg, #2e6fab 50%, #5cacf7 50%);
  font-family: "Spartan", sans-serif;
}

#icon {
  color: #2e6fab;
  font-weight: 700;
  max-height: 100%;
}

.nav-link {
  text-align: center;
}

.topBox {
  margin-top: 20vh;
  color: white;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
  line-height: 60px;
}

#name {
  font-weight: bold;
  text-shadow: 2px 2px black;
}

h4,
h5 {
  line-height: 40px;
}

h4 {
  font-size: 30px;
  margin-bottom: 40px;
}

h5 {
  font-size: 25px;
  margin-bottom: 30px;
}

.buttonDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: white;
  background-color: #f77b74;
  border: none;
  border-radius: 15px;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.6);
  margin: 20px;
  padding: 20px 30px;
}

button:hover {
  color: #f77b74 !important;
  background-color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.9);
}

a {
  color: white;
  text-decoration: none;
}

#resume {
  color: #e8f743;
  text-decoration: underline;
  font-weight: bold;
}

.portfolioHeading {
  color: white;
  text-decoration: underline;
  border-top: 1px white dotted;
  margin-top: 100px;
  padding-top: 100px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.portfolioDiv {
  text-align: center;
  line-height: 30px;
  margin-bottom: 50px;
}

.portfolioTitle {
  text-decoration: underline;
  color: white;
}

.imageDiv {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.portfolioImage {
  width: auto;
  height: 80%;
  margin: auto;
  vertical-align: middle;
  border: 1px black solid;
}

.p-icon {
  font-size: 30px;
  color: WHITE;
  margin: 3px;
}

.bio {
  color: white;
  line-height: 40px;
  margin: auto;
  margin-bottom: 40px;
}

.bio p {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  color: black !important;
  height: 40px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerIcon {
  color: black !important;
  margin: 5px;
}

.projectSummary {
  color: white;
  margin: auto;
  width: 80%;
}

.githubLinks a {
  text-decoration: underline;
}

.skillSets {
  columns: 2;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.hint {
  text-decoration: underline;
}

@media only screen and (max-width: 989px) {
  .portfolioDiv {
    padding-bottom: 30px;
    border-bottom: 1px white dotted;
  }
}

@media only screen and (max-width: 460px) {
  #weatherImage {
    width: 90%;
    height: auto;
  }

  .skillSets {
    columns: 1;
  }

  .skillSets li {
    margin-left: 30px;
  }
}
