body {
    background-color: black;
    color:white;
    font-family: 'Alata', sans-serif;
    
}

h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 100px;
    
}

h2 {
    text-align:center;
    margin-top: 20px;
    font-size: 20px;
}

.creativity {
    color: rgb(185, 55, 32);
}

.commitment {
    color: rgb(43, 169, 219);
}

.sense-of-humor {
    color:rgb(192, 192, 44);
}

p,a  {
    text-align:center;
    text-decoration: none;
    color:white;
    margin-top: 20px;
}

button {
    margin: 0 20px;
}

.accordion {
    width: 60%;
    margin: auto;
}

.card {
    line-height:100%;
}

.card-header {
    background-color:grey;
    line-height:100%; 
}

.btn {
    color:black;
}

.card-body {
    color:black;
    background-color:lightgrey;
    line-height:150%;
}